# rust stuff
target

# client stuff
node_modules
npm-debug.log

# 12factor app files
.env

# elm stuff
haskell-elm/client/build/*
haskell-elm/client/elm-stuff

# haskell stuff
dist
.stack-work

# os stuff
.DS_Store
